@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/_LayoutMalhariaWeb.cshtml";
}

<div class="row">
    <div class="col-md-12 column">
         <ul class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Acesso</li>
                <li>Negado</li>
            </ul>
        <div class="jumbotron">
            <h1>Desculpe, acesso negado!
            </h1>
        </div>
    </div>
</div>
